<div class="title-bar">
    <h2>Appliances list</h2>
    <button class="title-btn btn btn-outline-primary" (click)="isCollapsed = !isCollapsed">Add new</button>
    <div style="clear: both"></div>
</div>

<div id="form-collapse" [ngbCollapse]="isCollapsed">
    <app-appliance-form [appliances]="appliances" [categories]="categories"></app-appliance-form>
</div>

<app-appliance-stats [appliances]="appliances"></app-appliance-stats>

<ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
    <ngb-panel *ngFor="let appliance of appliances">
        <ng-template ngbPanelTitle>
            <span class="title"><b >{{appliance.name | uppercase}}</b> [{{appliance.id}}]</span>
            <i [class.fa-check-circle] = "appliance.state == state.WORKING"
               [class.fa-exclamation-triangle] = "appliance.state != state.WORKING"
               class="fas fa-2x cicon"></i>
        </ng-template>
        <ng-template ngbPanelContent>
            <app-appliance-details [appliance]="appliance" [appliances]="appliances"></app-appliance-details>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
<div class="title-bar">
    <button class="title-btn btn btn-outline-secondary" (click)="logout()">Logout</button>
    <div style="clear: both"></div>
</div>