<div class="row">
  <div class="col-4">
    Name: <h3>{{appliance.name}}</h3>
  </div>
  <div class="col-4">
    Category: <h3>{{appliance.category}}</h3>
  </div>
  <div class="col-4">
    State: <h3>{{appliance.state}}</h3>
  </div>
</div>
<hr />
<h4>Parameters</h4>
<ul class="list-group comments">
  <li class="list-group-item" *ngFor="let parameter of appliance.parameters">
    {{parameter.name}}: <b>{{parameter.value}}</b>
  </li>
</ul>
<hr />
<div class="row bottom">
  <div class="col-4"> <button (click)="delete()" class="btn btn-danger bottom-btn">Delete</button></div>
  <div class="col-4"> <!--button class="btn btn-info bottom-btn">Edit</button--></div>
  <div class="col-4"> <button (click)="report()" class="btn btn-secondary bottom-btn">{{outOfOrder() ? 'Fix' : 'Report'}}</button></div>
</div>
<hr />
<ul class="list-group comments">
  <li class="list-group-item" *ngFor="let comment of appliance.comments">
    <img class=".img-thumbnail comment-avatar" src="assets/user.png">
    {{comment.text}}
  </li>
  <div class="comment-input">
    <button (click)="comment(commentText); commentText=''" class="btn title-btn">Send</button>
    <div class="comment-text">
      <input class="form-control comment-text-input" type="text" [(ngModel)]="commentText" placeholder="Comment">
    </div>
  </div>
</ul>